
*,
*:before
*:after {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  color: #333;
}
h1 {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
.containerr {
  width: 700px;
  margin: 10px auto;
}

.col {
  display: inline-block;
}

.col--half {
  width: 50%;
}

.align-right {
  text-align: right;
}

.connect4-board:after {
  content: '';
  display: block;
  clear: both;
}

.connect4-column {
  float: left;
  width: 14.2857142857%;
}

.connect4-cell {
  background: #eeeeee;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  height: 80px;
  margin: 10px 10px;
  outline: none;
  padding: 0;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 80px;
  border: 3px solid black;
}

.connect4-row {
  background: #eeeeee;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  height: 80px;
  margin: 10px 10px;
  outline: none;
  padding: 0;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 80px;
}


.connect4-board {
  background: #4370F1 !important;
  border: 3px solid black;
  border-radius: 10px;
}

.connect4-board--active .connect4-cell:hover {
  background-color: #dddddd;
}

.connect4-board--inactive .connect4-cell {
  cursor: default;
}


.connect4-cell.connect4-cell--mini {
  cursor: default;
  height: 30px;
  margin: 0;
  width: 30px;
}

/* -- Responsive  -- */

@media only screen and (max-width: 600px) {
  .containerr{
    width: 100%;
    margin:10 auto;
    padding: 10 !important;
  }

  .connect4-cell{
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 450px) {
  .containerr{
    width: 100%;
    margin:10 auto;
    padding: 10px !important;
  }
}

@media only screen and (max-width: 350px) {
  .connect4-cell{
    width: 25px;
    height: 25px;
  }
}
 