<app-modal-config></app-modal-config>

<div id="app" class="containerr">
   
    <h1>Connect Four</h1>
    <!-- Show when hovering -->
    <div [hidden]="hideEffect">
        <button  *ngFor="let item of board.board; let j = index" class="connect4-row"
        [ngStyle]="{'background-color': !mouseEnter || !board.active || board.isRobotTurn ? 'white' : (j == getColumn ? (board.nextPlayer == -1 ? color1 : color2) : 'white')}"
        ></button>
    </div>
    <!---->
    <div class="connect4-board connect4-board--active">
        <div *ngFor="let item of board.board; let i = index" class="connect4-column">
            <button  style="border: 3px solid black;" [disabled]="board.active == false" *ngFor="let row of item" class="connect4-cell"
                        (mouseenter) ="onHover(i)" (mouseleave)="offHover(i)"
						[ngStyle]="{'background-color': row == 0 ? 'white' : (row == -1 ? color1 : color2)}"                        
                        (click)="clickCell(i)"></button>
        </div>
    </div>

</div>

