<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Game Mode</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
        <div *ngIf="colors" class="form-group">
            <div class="header">
                <p>Choose Player Colors</p>
            </div>
          <label for="player1">Player 1: </label> 
          <input type="button" id="player1" [style.background]="player1"
            [cpPosition]="'bottom'"
            [cpPositionOffset]="'50%'"
            [cpPositionRelativeToArrow]="true"
            [(colorPicker)]="player1" />
            <label for="player2">{{playerOrPc}} </label> 
                <input type="button" id="player2" [style.background]="player2"
            [cpPosition]="'bottom'"
            [cpPositionOffset]="'50%'"
            [cpPositionRelativeToArrow]="true"
            [(colorPicker)]="player2"/>
      
        </div>
        <div *ngIf="!colors">
        <div class="header">
            <p>Choose game mode</p>
        </div>
        <div class="form-group" style="display: flex;
        justify-content: center; padding: 20px 20px;">
            <button class="icons"><i class="fa fa-user fa-4x" aria-hidden="true" (click)="setMultiplayer()"></i>
                <label for="">Multiplayer</label>
            </button>
            <button class="icons"><i class="fa fa-android fa-4x" aria-hidden="true" (click)="setComputer()"></i>
                <label for="">Computer</label>
            </button>
        </div>
        </div>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="clicks == 0 ? setPlayerModeAndSwitch() : modal.close('Save click'); setColor(player1, player2)">Next</button>
    </div>
  </ng-template>